<div class="boarding-pass">
  <header class="airline-{{ flight.airline }}">
    <div [ngSwitch]="flight.airline">
      <img class="logo" src="/assets/images/United_Airlines.svg" *ngSwitchCase="'UA'" alt="United Airlines" />
      <img class="logo" src="/assets/images/Lufthansa.svg" *ngSwitchCase="'LH'"alt="Lufthansa" />
      <img class="logo" src="/assets/images/Thai_Airways.svg" *ngSwitchCase="'TG'" alt="Thai Airways" />
      <img class="logo" src="/assets/images/SriLankan_Airlines.svg" *ngSwitchCase="'SL'" alt="SriLankan Airlines" />
      <img class="logo" src="/assets/images/Oman_Air.svg" *ngSwitchCase="'WY'" alt="Oman Air" />
      <img class="logo" src="/assets/images/Emirates.svg" *ngSwitchCase="'EK'" alt="Emirates" />
      <img class="logo" src="/assets/images/AirAsia.svg" *ngSwitchCase="'AK'" alt="Air Asia" />
      <img class="logo" src="/assets/images/Delta_Airlines.svg" *ngSwitchCase="'DL'" alt="Delta Airlines" />
      <img class="logo" src="/assets/images/Asiana_Airlines.svg" *ngSwitchCase="'OZ'" alt="Asiana Airlines" />
    </div>

    <div class="flight">
      <small>flight</small>
      <strong>{{ flight.airline }} {{ flight.flightNumber }}</strong>
    </div>
  </header>

  <!-- -->
  <section class="cities">
    <div class="city">
      <small>{{ departure.city }}</small>

      <strong>{{ departure.code }}</strong>
    </div>
    <div class="city">
      <small>{{ arrival.city }}</small>

      <strong>{{ arrival.code }}</strong>
    </div>
    <svg class="airplane">
      <use xlink:href="#airplane"></use>
    </svg>
  </section>

  <section class="infos">
    <div class="places">
      <div class="box">
        <small>Miles</small>
        <strong><em>{{ flight.miles | number }}</em></strong>
      </div>
      <div class="box">
        <small>Cost</small>
        <strong><em>${{ flight.cost | number }}</em></strong>
      </div>
      <div class="box">
        <small>Class</small>
        <strong>{{ flight.seatClass }}</strong>
      </div>
      <div class="box">
        <small>Purpose</small>
        <strong>{{ flight.purpose }}</strong>
      </div>
    </div>
    <div class="times">
      <div class="box">
        <small>Boarding</small>
        <strong>11:05</strong>
      </div>
      <div class="box">
        <small>Departure</small>
        <strong>{{ getFormattedTime(flight.departure.datetime) }}</strong>
      </div>
      <div class="box">
        <small>Duration</small>
        <strong>2:15</strong>
      </div>
      <div class="box">
        <small>Arrival</small>
        <strong>{{ getFormattedTime(flight.arrival.datetime) }}</strong>
      </div>
    </div>
  </section>
  <section class="strap">
    <div class="box">
      <div class="passenger">
        <small>passenger</small>
        <strong>{{ user.name }}</strong>
      </div>
      <div class="date">
        <small>Date</small>
        <strong>{{ getFormattedDate(flight.departure.datetime) }}</strong>
      </div>
    </div>
    <qr-code class="qrcode" [value]="'https://ymmv.flights/flights/' + user.id + '/boarding-passes'" [size]="80"></qr-code>
  </section>
</div>