<div fxLayout="column">

  <!-- ORIGIN-->
  <div fxLayout="row" fxLayoutAlign="center center">
    <md-icon>place</md-icon>

    <md-input-container>
      <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let state of filteredStates | async" [value]="state">
        {{ state }}
      </md-option>
    </md-autocomplete>

    <md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>

    <md-input-container>
      <input mdInput type="time" placeholder="Favorite food" value="">
    </md-input-container>
  </div>

  <!-- DESTINATION -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <md-icon>place</md-icon>

    <md-input-container>
      <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let state of filteredStates | async" [value]="state">
        {{ state }}
      </md-option>
    </md-autocomplete>

    <md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>

    <md-input-container>
      <input mdInput type="time" placeholder="Favorite food" value="">
    </md-input-container>
  </div>

  <!-- AIRLINE & MILES & COST -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <md-icon>local_airport</md-icon>

    <md-input-container>
      <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let state of filteredStates | async" [value]="state">
        {{ state }}
      </md-option>
    </md-autocomplete>

    <md-icon>local_airport</md-icon>
    <md-input-container>
      <input mdInput type="number" placeholder="Miles" value="">
    </md-input-container>

    <md-icon>attach_money</md-icon>
    <md-input-container>
      <input mdInput type="number" placeholder="Cost" value="">
    </md-input-container>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <md-icon>business_center</md-icon>
    <md-select placeholder="Fare class">
      <md-option *ngFor="let state of states" [value]="state.code">{{ state.name }}</md-option>
    </md-select>

    <md-icon>beach_access</md-icon>
    <md-select placeholder="Purpose">
      <md-option *ngFor="let state of states" [value]="state.code">{{ state.name }}</md-option>
    </md-select>
  </div>
</div>