<main *ngIf="false">
  {{ analysis | json }}
</main>

<div class="page page-dashboard" *ngIf="loaded.analysis">

  <div fxLayout="row">
    <div class="panel-box-wrap" fxFlex="100">
      <div class="panel panel-default panel-minimal">
        <div class="panel-heading" *ngIf="false">Totals</div>
        <div class="panel-body">

          <!--
          <div class="echarts" data-echarts data-options="combo.options" style="height: 320px;" *ngIf="isDataPopulated"></div>
          -->
          <div class="line-chart">
            <canvas baseChart width="400" height="80"
                    [datasets]="lineChartDataHeader"
                    [labels]="lineChartLabelsHeader"
                    [options]="lineChartOptionsHeader"
                    [colors]="lineChartColorsHeader"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>

          <div class="divider"></div>

          <div class="row" fxLayout="row">
            <div class="box-stats" fxFlex="25">
              <span class="box-desc">Miles</span>
              <p class="box-num">{{ analysis.sums.miles | number }}</p>
              <!--<div data-echarts data-options="smline1.options" class="sm-charts"></div>-->
            </div>
            <div class="box-stats" fxFlex="25">
              <span class="box-desc">Cost</span>
              <p class="box-num"><span class="units">$</span> {{ analysis.sums.cost | number: 0 }}</p>
              <!--<div data-echarts data-options="smline2.options" class="sm-charts"></div>-->
            </div>
            <div class="box-stats" fxFlex="25">
              <span class="box-desc">Flights</span>
              <p class="box-num">{{ analysis.sums.segments | number }}</p>
              <!--<div data-echarts data-options="smline3.options" class="sm-charts"></div>-->
            </div>
            <div class="box-stats no-border" fxFlex="25">
              <span class="box-desc">International</span>
              <p class="box-num">{{ analysis.sums.international | number }}</p>
              <!--<div data-echarts data-options="smline4.options" class="sm-charts"></div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div class="panel-box-wrap" fxFlex="100">
      <div class="panel panel-default">
        <div class="panel-body padding-lg">
          <div fxLayout="row">
            <div fxFlex="66" style="padding: 0 24px">
              <div class="panel" fxLayout="column">
                <div class="panel-heading text-center">Breakdown</div>
                <div class="panel-body" fxLayout="column">
                  <div style="margin-top: 48px;">
                    <div class="text-center metrics" fxLayout="row">
                      <div fxFlex="33">
                        <span class="metric"><span class="units">$</span> {{ (analysis.sums.cost / analysis.sums.miles) | number: '.2' }}</span>
                        <span class="metric-info">Cost per mile</span>
                      </div>
                      <div fxFlex="33">
                        <span class="metric">{{ analysis.discrete.airlines.length | number }}</span>
                        <span class="metric-info">Airlines</span>
                      </div>
                      <div fxFlex="33">
                        <span class="metric">{{ analysis.discrete.airports.length | number }}</span>
                        <span class="metric-info">Airports</span>
                      </div>
                    </div>
                    <div class="text-center metrics" fxLayout="row">
                      <div fxFlex="33">
                        <span class="metric">{{ analysis.ranks.segmentMilesDescending[0][0].miles | number }} <span class="units">miles</span></span>
                        <span class="metric-info">Farthest Flight</span>
                      </div>
                      <div fxFlex="33">
                        <span class="metric"><span class="units">$</span> {{ analysis.ranks.segmentCostAscending[0] | number }}</span>
                        <span class="metric-info">Cheapest Flight</span>
                      </div>
                      <div fxFlex="33">
                        <span class="metric"><span class="units">$</span> {{ analysis.ranks.segmentCostDescending[0] | number }}</span>
                        <span class="metric-info">Priciest Flight</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex style="padding: 0 24px">
              <section class="panel">
                <div class="panel-heading text-center">Miles by Airline</div>
                <div class="divider divider-md"></div>
                <div class="panel-body">
                  <div class="divider divider-md"></div>
                  <div class="progressbar-container">
                    <md-progress-bar class="progressbar-xs progress-bar-success" [mode]="'determinate'" [value]="(analysis.ranks.airlineMilesDescending[0].miles/analysis.sums.miles)*100"></md-progress-bar>
                    <p class="desc">
                      <span>{{ getAirlineByCode(analysis.ranks.airlineMilesDescending[0].airline).name }}</span>
                      <span class="light-text">({{ analysis.ranks.airlineMilesDescending[0].miles | number }})</span>
                      <span class="pull-right color-success">{{ (analysis.ranks.airlineMilesDescending[0].miles/analysis.sums.miles)*100 | number: '.2' }}%</span>
                    </p>
                  </div>
                  <div class="progressbar-container">
                    <md-progress-bar class="progressbar-xs progress-bar-info" [mode]="'determinate'" [value]="(analysis.ranks.airlineMilesDescending[1].miles/analysis.sums.miles)*100"></md-progress-bar>
                    <p class="desc">
                      <span>{{ getAirlineByCode(analysis.ranks.airlineMilesDescending[1].airline).name }}</span>
                      <span class="light-text">({{ analysis.ranks.airlineMilesDescending[1].miles | number }})</span>
                      <span class="pull-right color-info">{{ (analysis.ranks.airlineMilesDescending[1].miles/analysis.sums.miles)*100 | number: '.2' }}%</span>
                    </p>
                  </div>
                  <div class="progressbar-container">
                    <md-progress-bar class="progressbar-xs progress-bar-danger" [mode]="'determinate'" [value]="(analysis.ranks.airlineMilesDescending[2].miles/analysis.sums.miles)*100"></md-progress-bar>
                    <p class="desc">
                      <span>{{ getAirlineByCode(analysis.ranks.airlineMilesDescending[2].airline).name }}</span>
                      <span class="light-text">({{ analysis.ranks.airlineMilesDescending[2].miles | number }})</span>
                      <span class="pull-right color-danger">{{ (analysis.ranks.airlineMilesDescending[2].miles/analysis.sums.miles)*100 | number: '.2' }}%</span>
                    </p>
                  </div>
                  <div class="progressbar-container">
                    <md-progress-bar class="progressbar-xs progress-bar-warning" [mode]="'determinate'" [value]="(analysis.ranks.airlineMilesDescending[3].miles/analysis.sums.miles)*100"></md-progress-bar>
                    <p class="desc">
                      <span>{{ getAirlineByCode(analysis.ranks.airlineMilesDescending[3].airline).name }}</span>
                      <span class="light-text">({{ analysis.ranks.airlineMilesDescending[3].miles | number }})</span>
                      <span class="pull-right color-warning">{{ (analysis.ranks.airlineMilesDescending[3].miles/analysis.sums.miles)*100 | number: '.2' }}%</span>
                    </p>
                  </div>
                  <div class="progressbar-container" *ngIf="false">
                    <md-progress-bar class="progressbar-xs progress-bar-primary" [mode]="'determinate'" [value]="(analysis.ranks.airlineMilesDescending[4].miles/analysis.sums.miles)*100"></md-progress-bar>
                    <p class="desc">
                      <span>{{ getAirlineByCode(analysis.ranks.airlineMilesDescending[4].airline).name }}</span>
                      <span class="light-text">({{ analysis.ranks.airlineMilesDescending[4].miles | number }})</span>
                      <span class="pull-right color-primary">{{ (analysis.ranks.airlineMilesDescending[4].miles/analysis.sums.miles)*100 | number: '.2' }}%</span>
                    </p>
                  </div>
                </div>
              </section>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div class="panel-box-wrap" fxFlex="100">
      <div class="panel panel-default">
        <div class="panel-body padding-lg">
          <google-chart [data]="geochart"></google-chart>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" *ngIf="false">
    <div class="panel-box-wrap" fxFlex="100">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Loyalty Progress</div>
        <div class="divider divider-md"></div>
        <div class="panel-body padding-lg">
          <div fxLayout="row">
            <div class="echarts" data-echarts data-options="pie.options" style="height: 180px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div fxLayout="row">
    <div class="panel-box-wrap" fxFlex="25">
      <div class="panel panel-box">
        <div class="panel-top">
          <md-icon class="color-success">local_airport</md-icon>
        </div>
        <div class="panel-info">
          <span>Airlines</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{ analysis.discrete.airlines.length | number }}</span>
        </div>
      </div>
    </div>
    <div class="panel-box-wrap" fxFlex="25">
      <div class="panel panel-box">
        <div class="panel-top">
          <md-icon class="color-info">flag</md-icon>
        </div>
        <div class="panel-info">
          <span>Countries</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{ analysis.discrete.countries.length | number }}</span>
        </div>
      </div>
    </div>
    <div class="panel-box-wrap" fxFlex="25">
      <div class="panel panel-box">
        <div class="panel-top">
          <md-icon class="color-warning">flight_takeoff</md-icon>
        </div>
        <div class="panel-info">
          <span>Airports</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{ analysis.discrete.airports.length | number }}</span>
        </div>
      </div>
    </div>
    <div class="panel-box-wrap" fxFlex="25">
      <div class="panel panel-box">
        <div class="panel-top">
          <md-icon class="color-danger">place</md-icon>
        </div>
        <div class="panel-info">
          <span>Cities</span>
        </div>
        <div class="panel-bottom bg-light">
          <span>{{ analysis.discrete.cities.length | number }}</span>
        </div>
      </div>
    </div>
  </div>

</div>
