<div class="empty-state" *ngIf="userFlights.length == 0" fxLayout="column" fxLayoutAlign="center center">
  <h2>Add some flights to view your stats dashboard!</h2>
</div>

<main class="flights-content" *ngIf="userFlights.length > 0">
  <section>
    <ngui-map
        class="landing"
        [zoom]="mapConfig.zoom"
        [center]="mapConfig.center"
        (mapReady$)="onMapReady($event)"
        (mapClick)="onMapClick($event)"
        (idle)="onIdle($event)"
        [mapTypeId]="mapConfig.type">

      <marker *ngFor="let marker of mapConfig.markers"
              [position]="marker.position"
              [title]="marker.title"
              [animation]="marker.animation"
              (initialized$)="onMarkerInit($event)"></marker>

      <polyline *ngFor="let polyline of mapConfig.polylines"
                [path]="polyline.paths"
                [strokeColor]="polyline.stroke.color"
                [strokeOpacity]="polyline.stroke.opacity"
                [strokeWeight]="polyline.stroke.weight"
                [visible]="polyline.visible"
                [geodesic]="polyline.geodesic"
                [editable]="polyline.editable"
                (initialized$)="onPolylineInit($event)"></polyline>
    </ngui-map>
  </section>

  <section>
    <ul class="timeline">
      <li *ngFor="let flight of userFlights; let idx = index"
          [ngClass]="{'timeline-inverted': (idx % 2 == 1)}">
        <div class="timeline-badge">
          <button md-mini-fab color="primary"
                     (click)="editFlight(flight, $event)">
            <md-icon class="non-hover-mode">local_airport</md-icon>
            <md-icon class="hover-mode">mode_edit</md-icon>
          </button>
        </div>

        <div class="timeline-panel">
          <app-boarding-pass [flight]="flight"
                             [user]="user"
                             [departure]="getAirportByCode(flight.departure.airport)"
                             [arrival]="getAirportByCode(flight.arrival.airport)"></app-boarding-pass>
        </div>
      </li>
    </ul>
  </section>
</main>