<main class="flights-content">
  <!--
  <ngui-map center="vm.map.center" zoom="vm.map.zoom" draggable="true" options="vm.map.options">

    <ui-gmap-markers models="vm.map.markers" coords="'self'" icon="'icon'" click="onMarkerClicked" fit="true"
                     doCluster="false" clusterOptions="standard">
      <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
        <div>
          <p ng-non-bindable>{{ title }}</p>

          <p ng-non-bindable>Latitude: {{ latitude | number: 4 }}</p>
          <p ng-non-bindable>Longitude: {{ longitude | number: 4 }}</p>
        </div>
      </ui-gmap-windows>
    </ui-gmap-markers>

    <ui-gmap-polylines models="vm.map.polylines" path="'path'" stroke="'stroke'" visible="'visible'"
                       geodesic="'geodesic'" editable="'editable'" draggable="'draggable'" static="true">
    </ui-gmap-polylines>
  </ngui-map>
  -->

  <section>
    <ngui-map
        [zoom]="mapConfig.zoom"
        [center]="mapConfig.center"
        (mapReady$)="onMapReady($event)"
        (mapClick)="onMapClick($event)"
        (idle)="onIdle($event)"
        [mapTypeId]="mapConfig.type">
      <marker *ngFor="let pos of positions"
              [position]="pos"
              (initialized$)="onMarkerInit($event)"></marker>
    </ngui-map>
  </section>

  <section>
    <ul class="timeline">
      <li *ngFor="let flight of userFlights; let idx = index"
          [ngClass]="{'timeline-inverted': (idx % 2 == 1)}">
        <div class="timeline-badge">
          <button md-mini-fab color="primary"
                     (click)="editFlight(flight, $event)">
            <md-icon class="non-hover-mode">local_airport</md-icon>
            <md-icon class="hover-mode">mode_edit</md-icon>
          </button>
        </div>

        <div class="timeline-panel">
          <app-boarding-pass [flight]="flight"
                             [user]="user"
                             [departure]="getAirportByCode(flight.departure.airport)"
                             [arrival]="getAirportByCode(flight.arrival.airport)"></app-boarding-pass>
        </div>
      </li>
    </ul>
  </section>
</main>