<div class="app-toolbar-container">
  <md-toolbar class="mat-elevation-z6" color="primary" *ngIf="showToolbar">
    <div class="lockup" fxLayout="row" fxLayoutAlign="start center">
      <button md-icon-button (click)="toggleSidenav($event)" *ngIf="isMobile">
        <md-icon>menu</md-icon>
      </button>

      <a routerLink="/" fxLayout="row" fxLayoutAlign="start center">
        <md-icon class="lockup-logo" *ngIf="!isMobile">local_airport</md-icon>

        <span class="lockup-text">
            <span class="lockup-brand lockup-brand-sm">YMMV</span>
            <span class="lockup-brand lockup-brand-lg">Your Mileage May Vary</span>
        </span>
      </a>
    </div>
    <span fxFlex></span>
    <div class="account" *ngIf="authUser != null">
      <button md-icon-button *ngIf="false">
        <md-icon>notifications_none</md-icon>
      </button>

      <button md-icon-button class="logged-in-user-button">
        <img class="logged-in-user-avatar" [src]="authUser.avatar" alt="Logged in user avatar" />
      </button>
    </div>
  </md-toolbar>
</div>

<md-sidenav-container class="app-sidenav-container" [class.hasToolbar]="showToolbar">
  <md-sidenav #pages class="app-sidenav app-sidenav-left" fxLayout="column"
              mode="{{isMobile ? 'over' : 'side'}}"
              opened="{{showNav}}">
    <md-nav-list *ngIf="authUser">
      <a md-list-item
         *ngFor="let navItem of navItems"
         [routerLink]="['/user', authUser.id, navItem.id]"
         [class.active]="currentPage == navItem.sectionId">
        <md-icon md-list-icon>{{ navItem.icon }}</md-icon>
        <h3 md-line>{{ navItem.title }}</h3>
      </a>
      <md-divider></md-divider>
    </md-nav-list>
    <md-nav-list>
      <a md-list-item
         [routerLink]="['/mileage-calculator']"
         [class.active]="currentPage == 'mileage-calculator'">
        <md-icon md-list-icon>functions</md-icon>
        <h3 md-line>Calculator</h3>
      </a>
    </md-nav-list>
  </md-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <md-sidenav #details align="end" mode="side" opened="false">

  </md-sidenav>
</md-sidenav-container>

<span class="app-action" *ngIf="!isMobile && showFab">
  <button class="app-fab-button" md-fab (click)="openAddFlightDialog($event)">
    <md-icon>add</md-icon>
  </button>
</span>