<div class="hide-overflow">
  <div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
    <div class="cloud x6"></div>
    <div class="cloud x7"></div>
  </div>
  <div class="planewindow" *ngIf="false"></div>

  <div class="landing-interactive" fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
      <h1 class="landing-text">Your Mileage<br/>May Vary</h1>
    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="center center">

      <div class="welcome-text" fxLayout="column" *ngIf="authUser != null">
        <h2>Welcome back,</h2>
        <div fxLayout="row" fxLayoutAlign="center center">
          <img class="user-avatar" [src]="authUser.avatar" alt="Logged in user avatar" />
          <h1 class="user-name">{{ authUser.name }}</h1>
        </div>
        <div class="welcome-action" fxLayout="row" fxLayoutAlign="center center">
          <a md-raised-button color="accent"
             [routerLink]="['/user', authUser.id]">Get Started</a>
        </div>
      </div>

      <div fxLayout="column" *ngIf="authUser == null">
        <button md-raised-button color="accent" (click)="signInWithGoogle()">
          <md-icon svgIcon="google"></md-icon> Login with Google
        </button>
      </div>

    </div>
  </div>
</div>